<ion-modal [isOpen]="isOpen" [backdropDismiss]="false" >
  <ng-template>

    
    <ion-content>
  
      
      <h1 class="label">Masukkan Email</h1>
      <div class="input-container">
        <ion-input  labelPlacement="floating"   [(ngModel)]="email" ></ion-input>
      </div>
     
  
    </ion-content>
  
    <ion-footer>
      <ion-button slot="end" class="cancel" (click)="cancel()" >
        Batal
      </ion-button>
      <ion-button slot="end" class="confirm" (click)="kirim()" >
        Kirim
      </ion-button>
  
    </ion-footer>
  </ng-template>
</ion-modal>
