
ion-content{
    
  
    .container-header{
        height: 20%;
        display: flex;
        padding-top: 1px;
        justify-content: space-between;

        ion-icon{
          margin-top: 20px;
          color: #2300B7;
          font-size: 1rem;
        }
      }
      
      .container-profile{
      display: flex;
      align-items: center;
      flex-direction: column  ;

      img{
        height: 30%;
        width: 30%;
        border-radius: 100%;
      }
      h1{
        font-size: clamp(2rem,8vw,4rem);
      }
      .akun{
        display: flex;
        flex-direction: row;

        i{
          margin-right: 5px;
          font-size: clamp(0.5rem,5vw,1.5rem);
        }

        p{
          margin: 0;
          font-size: clamp(0.5rem,5vw,1.5rem);
        }
      }
      .instruktur{
        margin-top: 50px;
        font-size: clamp(0.6rem,5vw,1.5rem);
        font-weight: 700;
        color: #2300B7;
      }

    }
    // ion-accordion-group{

    // }
  
  }
  
  .ion-content-scroll-host {
      position: absolute;
      top: 0;
      left: 0;
  
      height: 100%;
      width: 100%;
      overflow-y: auto;
    }
  
  
  
  