<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

<ion-content [fullscreen]="true">
  <div class="container-header">
    <h1>Akun</h1>
    <ion-icon name="cart-outline" size="large"  routerLink="/cart"></ion-icon>
  </div>
  
  <div class="container-profile">
    <img src="/assets/img/user.png" alt="Foto User">
    <h1>Jibrail Adji</h1>
    <div class="akun">
      <i class="fa-brands fa-google"></i>
      <p>jibrail&#64;yahoo.com</p>
    </div>
    <p class="instruktur" (click)="toInstructor()" >Menjadi Instruktur</p>
  </div>

  <ion-list>
    <ion-item>
      <ion-label>Ubah Profile</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Keamanan Akun</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Tentang Awan</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>

  <div class="logout">
    <h1 (click)="logout()" >Logout</h1>
  </div>
</ion-content>



<ion-footer collapse="fade">
  
  <app-footer-nav>

  </app-footer-nav>
</ion-footer>



