<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

<ion-content [fullscreen]="true">
  <div class="container-header">
    <h1>Akun</h1>
    <ion-icon name="cart-outline" size="large" color="light" routerLink="/cart"></ion-icon>
  </div>
  <div class="container">
    <div class="container-profile">
      <div class="profile-box">
        <ion-grid>
          <ion-col>
            <ion-row class="EmailName">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png"/>
            </ion-row>
            <ion-row class="EmailName">
              <ion-row class="name" >Mark Lee</ion-row>
            </ion-row>
            <ion-row class="EmailName">
              <ion-row class="Email" >MarkLee Mahasiswa.ubp.karawang.ac.id</ion-row>
            </ion-row>
          </ion-col>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>



<ion-footer collapse="fade">
  
  <app-footer-nav>

  </app-footer-nav>
</ion-footer>



