<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">


  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
    <h1>Materi Kursus</h1>
    
  </ion-toolbar>

  <div class="promotional-video"  >
    <video #videoPlayer controls controlsList="nodownload" *ngIf="currentVideo">
      <source [src]="getVideoUrl(currentVideo.vidioURL)">
      Not supported in your Device
    </video>
      
        <div class="overlay-controls">
          <button (click)="prevVideo()" class="next-button" >Prev</button>
          <button (click)="nextVideo()" class="prev-button"  >Next</button>
        </div>
  </div>

  

  <ion-accordion-group >
    <ion-accordion  
    *ngFor="let content of contentCourse;let i = index">
      <ion-item slot="header" color="none" >
        <ion-label > Chapter {{i+1}} </ion-label>
      </ion-item>
      <div 
        class="judul ion-padding" 
        #activeVideoPlayer 
        (click)="playVideo(i)" 
        slot="content">
        {{content.title}}
      </div>
      <div class="ion-padding" slot="content">{{content.description}}</div>
    </ion-accordion>
  </ion-accordion-group>

</ion-content>

