<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>

  <div class="promotional-video">
    <video #videoPlayer controls controlsList="nodownload" >
      <source 
      [src]="currentVideo.videoUrl"
      >
      Not support in your Device
      </video>
      
        <div class="overlay-controls">
          <button (click)="prevVideo()" class="next-button" >Prev</button>
          <button (click)="nextVideo()" class="prev-button"  >Next</button>
        </div>
  </div>

  <!-- <div class="list-content">
    <ion-card *ngFor="let content of contentCourse;let i = index" (click)="playVideo(i)" >
      <ion-card-content>
        <ion-list lines="none">
          <ion-item>{{content.title}}</ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div> -->

  <ion-accordion-group >
    <ion-accordion  
    *ngFor="let content of contentCourse;let i = index">
      <ion-item slot="header" color="none" >
        <ion-label > Chapter {{i+1}} </ion-label>
      </ion-item>
      <div 
        class="judul ion-padding" 
        #activeVideoPlayer 
        (click)="playVideo(i)" 
        slot="content">
        {{content.title}}
      </div>
      <div class="ion-padding" slot="content">{{content.description}}</div>
    </ion-accordion>
  </ion-accordion-group>

</ion-content>

