<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ramaraja&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-title>Wishlist</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="cart-outline" size="large" color="primary" routerLink="/cart"></ion-icon>
    </ion-buttons>
  </ion-toolbar>

  <div *ngIf="myCourse">

    <ion-card *ngFor="let c of myCourse" (click)="onClick(c.id)" >
      <ion-card-content>
        <img alt="Silhouette of mountains"  [src]="getImageUrl(c.image)" />
        <ion-list lines="none">
          <ion-item>{{c.title}}</ion-item>
          <p>{{c.description}}</p>
          <p>{{convertrRupiah(c.price)}}</p>
        </ion-list>
      </ion-card-content>
    </ion-card>
  
</div>
  <div *ngIf="myCourse.length === 0"  >
    <div class="nothing-content">
      <h1>Daftar keinginan anda masih Kosong</h1>
      <h2>Daftar keinginan Anda akan disimpan di sini.</h2>
      
      <!-- <div class="container">
        <ion-title class="title">Telusuri kategori</ion-title>
        <ion-list class="category-list">
            <ion-item>TI & Perangkat Lunak</ion-item>
            <ion-item>Bisnis</ion-item>
            <ion-item>Desain</ion-item>
            <ion-item>Keuangan & Akuntansi</ion-item>
            <ion-item>Gaya Hidup</ion-item>
            <ion-item>Produktivitas Kantor</ion-item>
            <ion-item>Pemasaran</ion-item>
            <ion-item>Fotografi & Video</ion-item>
            <ion-item>Musik</ion-item>
            <ion-item>Kesehatan dan Kebugaran</ion-item>
            <ion-item>Pengajaran & Akademis</ion-item>
            <ion-item>Pengembangan Personal</ion-item>
        </ion-list> -->
    </div>
  </div>

</ion-content>



<ion-footer collapse="fade">
  
  <app-footer-nav>

  </app-footer-nav>
</ion-footer>