ion-content{
    ion-title{
      font-family: "Ramaraja", serif;
      font-size: clamp(2rem,5vw,3rem);
      margin-left: 30px;
    }
    .nothing-content{

      h1{
        font-family: "Ramaraja", serif;
        font-weight:400 ;
        color: #000;
        font-size: 24px;
        position: relative;
        margin: 100px 0 0 0;
        text-align: center;
      }
      h2{
        font-family: "Open Sans", sans-serif;
        font-weight:400 ;
        color: #000;
        font-size: 14px;
        position: relative;
        margin: 10px 0 0 0;
        text-align: center;
      }
    .title {
      font-family: "Ramaraja", serif;
      font-weight: 400;
      font-size: 24px;
      margin-bottom: 20px; /* Margin bawah untuk judul */
      margin-top: 30px; /* Tambahkan margin atas di sini */
      text-align: left;
    }
    .category-list {
      font-family: "Open sans", sans-serif;
      font-weight: 600;
      font-size: 14px;
      // list-style-type: none; /* Menghilangkan bullet point pada list */
      // padding: 0; /* Menghilangkan padding pada list */
    }
    ion-item {
      --padding-start: 0; /* Menghilangkan padding kiri pada item */
      font-size: 16px;
      line-height: 1.5; /* Mengatur jarak antar baris teks */
      margin-bottom: 10px; /* Margin bawah untuk setiap item list */
    }
    ion-list{
      margin-left: 25px;
    }
  }
  ion-card{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    img{
        height: 100px;
        width: 100px;
    }
    ion-card-content{
        display: flex;
        ion-list{
            ion-item{
                font-size: clamp(0.7rem,5vw,2rem);
            }
            p{
                margin-left: 18px;
                font-size: clamp(0.3rem,5vw,1.2rem);
            }
        }
    }
}

}



// ion-content{
//     .container-header{
//         background-color: #75A6F0;
//         height: 20%;
//         display: flex;
//         justify-content: center;
//         align-items: center;
    
    
//         ion-searchbar{
//           width: 80%;
//           --border-radius:30px;
//           --background: #FAF8FF;
//           --color:black;
//           --placeholder-color:black;
//           opacity: 0.8;
//           --box-shadow:none;
//         }
//         ion-icon{
//           font-size: 1rem;
//         }
//       }
//     .container-text{
//       position: absolute;
//       display: block;
//       text-align: center;
//       top: 50%;
//       left: 50%;
//       transform: translate(-50%, -50%);
//     }

// }