ion-content{
    --background: linear-gradient(-0.34deg, rgba(93, 159, 255, 100%) 0%, rgba(184, 220, 255, 100%) 52%, rgba(70, 170, 255, 100%) 100%);


    .fa-arrow-left{
        font-size: 25px;
        margin: 20px 0 0 20px;
        color: white;
    }
    
    h1{
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        color: white;
        font-size: 36px;
        margin: 30px 0 20px 20px;
    }
    .rectangle{
        background-color: white;
        border-top-left-radius: 15%;        
        width: 100%;
        height: clamp(700px, 50%, 1000px);

        h2{
            position: relative;
            margin-left: 10%;
            top: 5%;
            font-family: "Open Sans", sans-serif;
            font-weight: 800;
            font-size: 24px;
            color: #3D2C8D;
        }
        h3{
            
            position: relative;
            left: 10%;
            top: 5%;
            font-family: "Open Sans", sans-serif;
            font-weight: 800;
            font-size: 18px;
            color: #726f6c;
            margin-bottom: max(5vw,50px);
        }
        .container-input-label{
            .container-icon{
                
                display: flex;
                flex-direction: row;
                align-items: center;
                position: relative;
                top: 35%;
                left: 10%;
                
                .fa-user{
                    font-size: 15px;
                }
                h4{
                    margin-left: 10px;
                    font-size: 16px;
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
            }
            .container-input{
                position: relative;
                background-color: #f2f2f2;
                height: 60px;
                top: 40%;
                left: 10%;
                width: 80%;
                --border-radius:30px;
                border-radius: 20px;
                margin-bottom: 20px;
                box-shadow: 0 10px 20px 0px rgba(57,71,82,0.12);
            }
            ion-input{
                --padding-top:5px;
                --padding-start:20px;
            }
        }
        h4{
            margin-left: 10%;
        }

        .container-bottom{
            text-align: center;
            display: block;
            margin: 0 auto;
            ion-button{
                --background: #75A6F0;
                width: 90%;
                margin: 0 auto;
                --border-radius: 30px;
            }
        }
        .ion-valid.sc-ion-input-md-h {
            --highlight-color: blue;
        }
        .ion-invalid.sc-ion-input-md-h {
            --highlight-color: red;
        }
        .ion-default.sc-ion-input-md-h {
            --highlight-color: red;
        }
        .custom-alert{
            border-radius: 30px;
            
        }
    }

    
    // form{
    //     margin-top: 100px;
    // }

    // .circle{
    //     background-color: #75A6F0;
    //     height: 150px;
    //     width: 100%;
    //     margin: 0 auto;
    //     border-radius: 0 0 50% 50% / 0 0 100% 100%;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    // }
    // .circle img{
    //     height: min(200px,50%);
    //     width: min(200px,50%);
    //     position: absolute;
    // }
    // form h2{
    //     color: #3D3DE9;
    //     text-align: center;
    //     font-family: "Inter",sans-serif;
    //     font-weight: 700;
    //     margin-bottom: 20px;

    // }
    // form .wrap-input{
    //     background-color: rgba(255,255,255,1);
    //     border-radius: 20px;
    //     margin-bottom: 20px;
    //     box-shadow: 0 10px 20px 0px rgba(57,71,82,0.12);
    //     display: flex;
    //     justify-content: flex-start;
    //     align-items: center;
    // }
    
    // form .wrap-input ion-input{
    //     --padding-start:10px;
    // }

    // form .wrap-input i{
    //     margin-right: 10px;
    //     margin-left: 20px;
    // }
    // .fa-user,.fa-envelope{
    //     color: #3D3DE9;
    // } 
    // .fa-lock{
    //     color: white;
    // }

    // .container-haveAccount{
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     flex-direction: column;
    //     column-gap: 2px;

    //    p{
    //     margin-bottom: 1px;
    //     font-family: "Inter",sans-serif;
    //     color: #8B8B8B;
    //     font-size: 1.1rem;
    //    }
    //    h3{
    //     font-family: "Inter",sans-serif;
    //     color: #1862F2;
    //     font-size: 1.5rem;
    //    }
    // }
}