
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <ion-content [fullscreen]="true" keyboard-events="true" keyboardVerticalOffset="60">


  <i class="fa-solid fa-arrow-left" (click)="goBack()" ></i>
  <h1>Sign Up</h1>
  <div class="rectangle">
    <h2>Buat Akun</h2>
    <h3>Yuk Buat Akun Disini!</h3>

    <div class="container-input-label">
      <div class="container-icon">
        <i class="fa-solid fa-user"></i>
        <h4>Nama</h4>
      </div>
      <div class="container-input">
        <ion-input  
        shape="round" [(ngModel)]="form.username" 
        type="text"
        id="name"
        name="name"
        class="form-control"
        required
        #name="ngModel"
        placeholder="Masukkan nama anda">
      </ion-input>
      <div *ngIf="name.errors?.['required']"
       style="color: red; margin-top: 20px;"
       >Nama tidak boleh kosong.</div>
      </div>
    </div>

    <div class="container-input-label">
      <div class="container-icon">
        <i class="fa-solid fa-envelope"></i>
        <h4>Email</h4>
      </div>
      <div class="container-input">
        <ion-input  shape="round"  [(ngModel)]="form.email"
        required email
        name="email" ngModel email="true"
        ngModel [ngModelOptions]="{standalone: true}"
        #emailInput="ngModel" 
        placeholder="Masukkan email anda">
      </ion-input>
      <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
        <div *ngIf="emailInput.errors?.['required']" style="color: red; margin-top: 20px;">
          Email tidak boleh kosong
        </div>
        <div *ngIf="emailInput.errors?.['email']" style="color: red; margin-top: 20px;">
          Format email tidak valid
        </div>
      </div> 
      </div>
    </div>  

    <div class="container-input-label">
      <div class="container-icon">
        <i class="fa-solid fa-key"></i>
        <h4>Password</h4>
      </div>
      <div class="container-input">
        <app-input-password-toogle 
         (Password)="getPassword($event)" 
         placeholder="Password">
        </app-input-password-toogle>
      </div>
    </div>  
   

    <div class="container-input-label">
      <div class="container-icon">
        <i class="fa-solid fa-key"></i>
        <h4>Konfirmasi Password</h4>
      </div>
      <div class="container-input">
        <app-input-password-toogle  
        (Password)="getConfirmPassword($event)" 
        placeholder="Konfirmasi Password" >
        </app-input-password-toogle>
      </div>
    </div>   
    <h4>
      Lupa Password
    </h4>
    <div class="container-bottom">
      <ion-button (click) = "onClick()" [disabled]="emailInput?.invalid || name?.invalid" >Sign Up</ion-button>
      <p>Sudah Mempunyai akun? 
        <a>
          <span routerLink="/sign-in">Sign In disini</span> 
        </a>
      </p>
    </div>  

  </div>

</ion-content>
