<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ramaraja&display=swap" rel="stylesheet">

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Tentang Awan</ion-title>
  </ion-toolbar>

  <div class="content">
    <p>
      Awan adalah sebuah aplikasi mobile yang menyediakan kursus online berkualitas tinggi untuk meningkatkan keterampilan dan pengetahuan Anda. 
      Dengan Awan, Anda dapat mengakses ribuan kursus online dari berbagai topik dan bidang, langsung dari perangkat mobile Anda. 
      Awan - Learning menawarkan pengalaman belajar yang fleksibel dan interaktif, memungkinkan Anda belajar kapan saja dan di mana saja.
      Jelajahi beragam kursus profesional di Awan dan tingkatkan karir Anda dengan pengetahuan baru dan keterampilan terkini.
      Awan memudahkan Anda untuk belajar dari para ahli dan instruktur berpengalaman melalui kursus-kursus online yang komprehensif dan terstruktur. 
      Dapatkan akses ke konten edukatif yang disusun oleh para ahli, hanya di aplikasi Awan - Kursus Online. 
      Belajar tidak pernah semudah ini dengan Awan - aplikasi kursus online yang dirancang untuk kebutuhan belajar modern. 
      Awan menyediakan kursus online yang beragam dan berkualitas, membantu Anda mencapai tujuan belajar dan profesional Anda. 
      Mulailah perjalanan belajar Anda dengan Awan dan temukan kursus-kursus menarik yang dapat meningkatkan keterampilan Anda di bidang apa pun.
      Dengan Awan, Anda dapat mengikuti kursus online secara fleksibel, tanpa mengorbankan kualitas pembelajaran.
    </p>
  </div>

</ion-content>