<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/home" (click)="backHome()"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-family: ramaraja;" >Detail Kursus</ion-title>
    
  </ion-toolbar>

  <div class="promotional-video">
    <video  
    [poster]="[imageDomain]"
    [src]="[vidioDomain]"
    controls >
      <source 
      
      >
      Not support in your Device
    </video>
  </div>

  <div *ngIf="isMadeByMe" >
    <h1 style="font-size: 20px;" >Kursus Ini dibuat oleh Anda</h1>
  </div>

  <div class="container-text">
    <ion-row class="ion-justify-content-evenly ">
      <ion-col size="10" >
        <h1>{{ detailCourse.title}}</h1>
      </ion-col>
      <ion-col size="2">
        <ion-icon [name]="iswishlist?'bookmark':'bookmark-outline'" (click)="wishlistControl()" ></ion-icon>
      </ion-col>
      <div *ngIf="showMessage" class="message">{{ message }}</div>

      
    </ion-row>

    <p class="description" >{{detailCourse?.description}}</p>

    <div class="instructor">

      <p> <b>Dibuat oleh:</b> {{ detailCourse?.owner?.name }}</p>
    </div>


    <!-- <div class="rating">
      <ion-icon name="star" aria-hidden="true"></ion-icon>

      <p>{{rating}}</p>

    </div> -->
    
    <p class="price"  style="font-size: clamp(1rem,5vw,2rem);font-weight: 400;" >{{price}}</p>

    <div class="Konten">
      <h1>Konten dalam Kursus</h1>
     <ul *ngFor="let content of contents">
        <li>{{ content }}</li>
     </ul>
    </div>
    <div class="requirement">
      <h1>Persyaratan</h1>
     <ul>
      <li>Mampu Mengoperasikan Komputer</li>
      <li>Komputer ram 4gb</li>
     </ul>
    </div>
    
  </div>
  <div *ngIf="showMessage" class="message">{{ message }}</div>
  <div *ngIf="!isBought && !isMadeByMe" >
    <div *ngIf="!iscart" >
      <ion-button  class="addbutton" (click)="cartControl()" expand="full" >Tambah ke keranjang</ion-button>
    </div>
    <div *ngIf="iscart" >
      <ion-button class="removebutton" (click)="cartControl()" expand="full" >Hapus dari keranjang</ion-button>
    </div>
  </div>

  <div *ngIf="isBought && !isMadeByMe" >
    <ion-button class="learnNow" (click)="toMyCourse()" expand="full" >Pelajari Sekarang</ion-button>
  </div>
  




  
  
</ion-content>
