<!-- <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>tutorial</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

<ion-content [fullscreen]="true">
  
  <swiper-container
    #swiper
    (afterinit) = "swiperReady()"
    (slideChange) = "swiperSlideChanged($event)"
    [loop] = "false"
    [pagination]="true"
    
  >
    
    <swiper-slide>
      <div class="container" >
        <ion-img src="/assets/img/tutor4.png"></ion-img>

        <h1>
          Mulailah perjalanan Anda dengan video 
          pembelajaran yang menyenangkan
        </h1>
        <h2>
          jelajahi berbagai video pembelajaran
          berdasarkan minat Anda
        </h2>
        <ion-button (click)="goNext()" class="button-next">Selanjutnya</ion-button>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="container" >
        <ion-img src="/assets/img/tutor5.png"></ion-img>

        <h1>
          Pelajari gairah Anda,
          tingkatkan keterampilan Anda
        </h1>
        <h2>
          Jadikan diri Anda ahli dalam keahlian Anda
          dengan belajar dari mentor
        </h2>
        
        <ion-button (click)="goNext()" class="button-next">Selanjutnya</ion-button>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="container" >
        <ion-img src="/assets/img/tutor6.png"></ion-img>
        <h1>
          Dapatkan lulusan Anda dengan keterampilan luar biasa
        </h1>
        <h2>
          Dapatkan sertifikat Anda setelah selesai
          kelas online Anda
        </h2>
        <ion-button (click)="goNext()" class="button-next">Selanjutnya</ion-button>
      </div>
    </swiper-slide>
    
    <swiper-slide>
      <div class="container" >
        <ion-img src="/assets/img/amico.png"></ion-img>

        <h1>
          SELAMAT DATANG
        </h1>
        <h2>
          Pendidikan adalah tiket menuju masa depan; hari ini adalah saat untuk mempersiapkannya.
        </h2>
        <!-- <ion-button class="button-google">
          <ion-icon name="logo-google"></ion-icon>
          Sign in dengan google
        </ion-button> -->
        <ion-button class="button-register" routerLink="/sign-in" >
          Sign In
        </ion-button>
      </div>
    </swiper-slide>

  </swiper-container>
</ion-content>