  <!-- <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>tutorial</ion-title>
    </ion-toolbar>
  </ion-header> -->

<ion-content [fullscreen]="true">
  
  <swiper-container
    #swiper
    (afterinit) = "swiperReady()"
    (slideChange) = "swiperSlideChanged($event)"
    [loop] = "false"
    [pagination]="true"
    
  >
    
    <swiper-slide>
      <div class="container" >
        Taruh Foto Disini

        <h1>
          SELAMAT DATANG
        </h1>
        <h2>
          Kalo capek istirahat sejenak. Jangan berhenti apalagi menjadi pemalas. Terus belajar, terus bertumbuh!
        </h2>
        <ion-button (click)="goNext()" >Selanjutnya</ion-button>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="container" >
        Taruh Foto Disini

        <h1>
          SELAMAT DATANG
        </h1>
        <h2>
          Masa depanmu dimulai dari dirimu sendiri. Kalo mau sukses ya belajar!
        </h2>

        <ion-button (click)="goNext()" >Selanjutnya</ion-button>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="container" >
        Taruh Foto disini
        <h1>
          SELAMAT DATANG
        </h1>
        <h2>
          Ayo belajar! Rebahan gak bikin kamu pin tar dan kaya raya.
        </h2>
        <ion-button (click)="goNext()" >Selanjutnya</ion-button>

      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="container" >
        Taruh Foto disini

        <h1>
          SELAMAT DATANG
        </h1>
        <ion-button class="button-google">
          <ion-icon name="logo-google"></ion-icon>
          Sign in dengan google
        </ion-button>
        <ion-button class="button-register" routerLink="/sign-in" >
          Sign In
        </ion-button>
      </div>
    </swiper-slide>
  </swiper-container>
</ion-content>
