<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ramaraja&display=swap" rel="stylesheet">

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Profil Instruktor</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-title>Data Diri</ion-title>
  </ion-toolbar>

      <div class="avatar-container">
        <img src="/assets/img/user.jpg" alt="Foto Profil">
        <!-- Ganti 'path_to_your_image' dengan path atau URL foto Anda -->
      </div>
    
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Nama Lengkap</ion-label>
          <ion-input type="text" placeholder="Nama Lengkap"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Nomor Handphone</ion-label>
          <ion-input type="tel" placeholder="Nomor Handphone"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="email" placeholder="Email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>Jenis Kelamin</ion-label>
        </ion-item>

        <ion-radio-group style="display: flex; flex-direction: row; align-items: center;">
          <ion-item style="flex: 1;">
            <ion-label style="font-size: 20px;">Laki - Laki</ion-label>
            <ion-radio slot="start" value="male"></ion-radio>
          </ion-item>
          <ion-item style="flex: 1;">
            <ion-label style="font-size: 20px;">Perempuan</ion-label>
            <ion-radio slot="start" value="female"></ion-radio>
          </ion-item>
        </ion-radio-group>        
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-toolbar>
    <ion-title>Pendidikan Terakhir</ion-title>
  </ion-toolbar>

  <!-- <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Tingkat Pendidikan</ion-label>
          <ion-select placeholder="Tingkat Pendidikan">
            <ion-select-option value="sd">SD</ion-select-option>
            <ion-select-option value="smp">SMP</ion-select-option>
            <ion-select-option value="sma">SMA</ion-select-option>
            <ion-select-option value="diploma">Diploma</ion-select-option>
            <ion-select-option value="sarjana">Sarjana</ion-select-option>
            <ion-select-option value="magister">Magister</ion-select-option>
            <ion-select-option value="doktor">Doktor</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Negara</ion-label>
          <ion-select placeholder="Negara">
            <ion-select-option value="indonesia">Indonesia</ion-select-option>
            <ion-select-option value="malaysia">Malaysia</ion-select-option>
            <ion-select-option value="singapore">Singapore</ion-select-option>
            <ion-select-option value="other">Other</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Nama Universitas</ion-label>
          <ion-input type="text" placeholder="Nama Universitas"></ion-input>
          <ion-select placeholder="Nama Universitas">
            <ion-select-option value="universitas_a">Universitas A</ion-select-option>
            <ion-select-option value="universitas_b">Universitas B</ion-select-option>
            <ion-select-option value="universitas_c">Universitas C</ion-select-option>
            <ion-select-option value="other">Other</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Program Studi</ion-label>
          <ion-input type="text" placeholder="Nama Program Studi"></ion-input>
          <ion-select placeholder="Nama Program Studi">
            <ion-select-option value="programstudi_a">Program Studi A</ion-select-option>
            <ion-select-option value="programstudi_b">Program Studi B</ion-select-option>
            <ion-select-option value="programstudi_c">Program Studi C</ion-select-option>
            <ion-select-option value="other">Other</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <ion-toolbar>
    <ion-title>Alamat Domisili</ion-title>
  </ion-toolbar>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Provinsi</ion-label>
          <ion-input type="text" placeholder="Nama Provinsi"></ion-input>
          <!-- <ion-select placeholder="Provinsi (KTP)">
            <ion-select-option value="provinsi_a">Provinsi A</ion-select-option>
            <ion-select-option value="provinsi_b">Provinsi B</ion-select-option>
            <ion-select-option value="provinsi_c">Provinsi C</ion-select-option>
            <ion-select-option value="other">Other</ion-select-option>
          </ion-select> -->
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Kota</ion-label>
          <ion-input type="text" placeholder="Nama Kota"></ion-input>
          <!-- <ion-select placeholder="Kota (KTP)">
            <ion-select-option value="kota_a">Kota A</ion-select-option>
            <ion-select-option value="kota_b">Kota B</ion-select-option>
            <ion-select-option value="kota_c">Kota C</ion-select-option>
            <ion-select-option value="other">Other</ion-select-option>
          </ion-select> -->
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Kode Pos</ion-label>
          <ion-input type="text" placeholder="Kode Pos"></ion-input>
          <!-- <ion-select placeholder="Kecamatan (KTP)">
            <ion-select-option value="kecamatan_a">Kecamatan A</ion-select-option>
            <ion-select-option value="kecamatan_b">Kecamatan B</ion-select-option>
            <ion-select-option value="kecamatan_c">Kecamatan C</ion-select-option>
            <ion-select-option value="other">Other</ion-select-option>
          </ion-select> -->
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Alamat Tempat Tinggal</ion-label>
          <ion-textarea placeholder="Alamat Tempat Tinggal"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" color="primary" style="margin-top: 20px;">
          Simpan Perubahan
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>