<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ramaraja&display=swap" rel="stylesheet">


<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>intro</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Menjadi Instruktur</ion-title>
  </ion-toolbar>
  
  <!-- <ion-img src="/assets/img/AwanLearningLogo.png"></ion-img> -->

</ion-content>