ion-content{
    ion-back-button{
        --color: #124CFF;
    }
    ion-title{
        font-family: "Ramaraja", serif;
        font-size: 24px;
        margin-top: 10px;
        color: black;
      }
    
}