<ion-content [fullscreen]="true">
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Notifikasi</ion-title>
  </ion-toolbar>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Judul Notifikasi</ion-card-title>
      <p>24-01-2022</p>
    </ion-card-header>
  
    <ion-card-content>
      Detail Notifikasi
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
<app-teacher-footer-nav></app-teacher-footer-nav>
</ion-footer>
