<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

<ion-content [fullscreen]="true">
  <div class="container-header">
    <ion-searchbar 
    placeholder="Cari kursus yang ingin dipelajari" 
    (ionFocus)="onFocus()"
    (ionBlur)="onBlur()"
    (ionInput)="onInput($event)"
    ></ion-searchbar>
    <ion-icon name="cart-outline" size="large" color="primary" routerLink="/cart" ></ion-icon>
  </div>

  <div *ngIf="!isSearchFocused">
    <div class="container-user">
      <div class="container-text">
        <h1>Selamat Datang</h1>
        
      </div>
    </div>
  
    <div class="rectangle">
      <div class="mulaiBelajar">
        <h1>Mulai</h1>
        <h1>Belajar</h1>
      </div>
        <img 
        src="/assets/img/202011_02.png"
        alt="Foto User"
        >
    </div>
    <!-- <h1 class="judulSlide" >Direkomendasikan Untuk Anda</h1>
    <swiper-container
    (afterinit)="swiperInit($event)"
      >
        <swiper-slide *ngFor="let list of listCourse" >
          
          <ion-grid (click)="getDetailCourse(list.id)" >
            <ion-row size="3" >
              <ion-card>
                <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
                <ion-card-header>
                  <ion-card-title>{{list.title}}</ion-card-title>
                  <ion-card-subtitle>Nanti Dulu</ion-card-subtitle>
                </ion-card-header>
              
                <ion-card-content>
                  Nanti dulu
                </ion-card-content>
              </ion-card>
            </ion-row>
          </ion-grid>
  
        </swiper-slide>
    </swiper-container> -->
      
      <h1 class="judulSlide" >Kursus yang Tersedia</h1>
      <swiper-container
      (afterinit)="swiperInit($event)"
      
      >
        <swiper-slide *ngFor="let list of listCourse" >
          
          <ion-grid>
            <ion-row size="3" >
              <ion-card (click)="getDetailCourse(list.id)"  >
                <img class="img-card" src={{list.image}} />
                <ion-card-header>
                  <ion-card-title>{{list.title}}</ion-card-title>
                  <ion-card-subtitle>{{list.description}}</ion-card-subtitle>
                </ion-card-header>
              
                <ion-card-content>
                  Nanti Dulu
                  
                </ion-card-content>
              </ion-card>
            </ion-row>
          </ion-grid>
  
        </swiper-slide>
      </swiper-container>
  </div>
  
  <div *ngIf="isDataFiltered">
    <ion-card>
      <ion-card-header>
      </ion-card-header>
    
      <ion-card-content>
        <ion-list *ngFor="let filter of filteredData">
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            </ion-thumbnail>
            <ion-label>{{filter.title}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Nanti Dulu</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>

<ion-footer collapse="fade">
  
  <app-footer-nav>

  </app-footer-nav>
</ion-footer>



