<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

<ion-content [fullscreen]="true">
  <div class="container-header">
    <ion-searchbar
    (ionInput)="filterItems($event)"
    (ionBlur)="onBlur()"
    ></ion-searchbar>
    <ion-icon name="cart-outline" size="large"  routerLink="/cart" ></ion-icon>
  </div>

  <div *ngIf="isSearchInput" >
    <ion-card *ngFor="let filter of filteredItems" >
      <ion-card-content>
        <img alt="Silhouette of mountains" src="/assets/img/home.png" />
        <ion-list lines="none">
          <ion-item>{{filter.title}}</ion-item>
          <p>{{filter.category}}</p>
          <p>{{filter.description}}</p>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
  
  <div *ngIf="course.length > 0 && !isSearchInput ">

      <ion-card *ngFor="let c of course" >
        <ion-card-content>
          <img alt="Silhouette of mountains" src="/assets/img/home.png" />
          <ion-list lines="none">
            <ion-item>{{c.title}}</ion-item>
            <p>{{c.category}}</p>
            <p>{{c.description}}</p>
          </ion-list>
        </ion-card-content>
      </ion-card>
    
  </div>

  <div *ngIf="course.length === 0"  >
    <div class="text-container">
      <h1>Apa yang Ingin anda pelajari?</h1>
      <h3>Kursus Akan disimpan disini</h3>
    </div>
  </div>
 
</ion-content>

<ion-footer collapse="fade">
  
  <app-footer-nav>

  </app-footer-nav>
</ion-footer>
