ion-content{
    

    .container-header{
        
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        ion-searchbar{
            width: 80%;
            --border-radius:30px;
            --background: #FAF8FF;
            --color:black;
            --placeholder-color:black;
            opacity: 0.8;
            --box-shadow:none;
          }
        ion-icon{
            font-size: 1rem;
            text-align: center;
            color: #2300B7;
        }        
    }
    ion-card{
        img{
            max-width: 20%;
        }
        ion-card-content{
            display: flex;
            ion-list{
                ion-item{
                    font-size: clamp(0.7rem,5vw,2rem);
                }
                p{
                    margin-left: 18px;
                    font-size: clamp(0.3rem,5vw,1.2rem);
                }
            }
        }
    }

    .text-container{
        position: absolute;
        display: block;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    
}