ion-content{
  ion-back-button{
    --color: #124CFF;
  }
  ion-title{
    font-family: "Ramaraja", serif;
    font-size: 24px;
    margin-top: 10px;
    color: #000;
  }
  h1{
    font-family: "Ramaraja", serif;
    font-weight:400 ;
    color: #000;
    font-size: 20px;
    margin: 100px 0 20px 20px;
  }
  .rectangle{
    background: linear-gradient(180deg, #B8DCFF 0%, #5D9FFF 86%) ;
    height: 55%;
    border-radius: 30px;
    position: relative;
    margin: 20px; /* Tambahkan margin agar tidak mepet dengan background */
    text-align: center;
  }
  .container-text{
    position: relative;
    top: 50%;
  }
  h2{
    font-family: "PT Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
    position: relative;
    
    
  }
  h3{
    font-family: "PT Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
    margin: 0;
    position: relative;
    
  }
  .container-button{
    position: relative;
    top: 55%;
  }
  .button-cart{
    font-family: "Ramaraja", serif;
  }
  .pay{
    display: flex;
    justify-content: space-between;

  }

 
}

   // .container-text{
    //     position: absolute;
    //     display: block;
    //     text-align: center;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    //   }