<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ramaraja&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">



<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Keranjang</ion-title>
  </ion-toolbar>


  <div *ngIf="mycart.length>0" >
    <ion-card>
      <ion-card-content>
        <ion-list *ngFor="let course of mycart">
          <ion-item>
            <ion-checkbox slot="start" (ionChange)="onCheckboxChange($event, course)"></ion-checkbox>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" [src]="getImageUrl(course.image)" />
            </ion-thumbnail>
            <ion-label>{{ course.title }}</ion-label>
            <ion-label slot="end" style="font-weight: 400;"></ion-label>
          </ion-item>
          <ion-item>
            <ion-label><b>{{ convertrRupiah(course.price) }}</b></ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    
  </div>

  

  <div *ngIf="mycart.length===0" >

    <h1>0 Kursus dalam Keranjang</h1>
    <div class="rectangle">
      <div class="container-text">
        
        <h2>Keranjang Anda kosong.</h2>
        <h3>Temukan kursus pilihan Anda</h3>
      </div>
      <div class="container-button">
        <ion-button color="light" class="button-cart" routerLink="/home" >Terus Belanja</ion-button>
      </div>
  
     
    </div>
  </div>
  
</ion-content>
<ion-footer *ngIf="selectedCourses.length > 0">
  <ion-toolbar>
    <ion-title>Total: {{ convertrRupiah(totalPrice) }}</ion-title>
    <ion-button slot="end" (click)="pay()">Bayar</ion-button>
  </ion-toolbar>
</ion-footer>