
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">




<ion-content [fullscreen]="true">
  <i class="fa-solid fa-arrow-left" default-href="/" (click)="goBack()" ></i>
  <h1>Sign In</h1>
  <div class="rectangle">
    
    <h2>Selamat Datang Kembali</h2>
    <h3>Hallo, masuk untuk melanjutkan</h3>

    <div class="container-input-label">
      <div class="container-icon">
        <i class="fa-solid fa-envelope"></i>
        <h4>Email</h4>
      </div>
      <div class="container-input">
        <ion-input  shape="round" [(ngModel)]="form.email"  
        [ngModelOptions]="{standalone: true}"  placeholder="Enter text" 
        autocomplete="email" 
        ></ion-input>
      </div>
    </div>  
    <div class="container-input-label">
      <div class="container-icon">
        <i class="fa-solid fa-key"></i>
        <h4>Password</h4>
      </div>
      <div class="container-input">
        <app-input-password-toogle (Password)="getPassword($event)" placeholder="Password" ></app-input-password-toogle>
      </div>
    </div>  
    
    <h4 (click)="modals.open()" >
      Lupa Password?

      <app-forgot-password #modals ></app-forgot-password>
    </h4>
    
    
    <div class="container-bottom">
      <app-full-button (click) = "onLogin()" >Sign In</app-full-button>
      <p>Tidak Punya akun? 
        <a routerLink="/sign-up">
          <span> Sign up disini!</span>
          
        </a>
       
      </p>
    </div>
    

  </div>


<!-- <ion-content [fullscreen]="true">
  <div class="circle">
    <img src="../../../assets/img/AwanLearningLogo.png" alt="Awan Learning">
  </div>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Masuk</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <form>
      <h2>Masuk</h2>
      <div class="wrap-input">
        <i class="fa fa-user"></i>
        <ion-input label="Email"   [(ngModel)]="form.email" ngModel [ngModelOptions]="{standalone: true}" label-placement="floating" placeholder="Email" autocomplete="email" ></ion-input>
        <i class="fa fa-lock"></i>
      </div>
      <app-input-password-toogle (Password)="getPassword($event)" label="Password" > </app-input-password-toogle>
    </form>
    <div class="container-forgot-password">
      <p>Lupa Password?</p>
    </div>  

    <app-full-button (click) = "onClick()" ></app-full-button>

    <div class="container-noAccount">
      <p>Tidak Punya Akun?</p>
      <a routerLink="/sign-up">
        <h3>Daftar Disini</h3>
      </a>
    </div>
  </div>
  
</ion-content> -->
