ion-content{
    --background:#EDF5FF;
    
    form{
        margin-top: 100px;
    }

    .circle{
        background-color: #75A6F0;
        height: 150px;
        width: 100%;
        margin: 0 auto;
        border-radius: 0 0 50% 50% / 0 0 100% 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .circle img{
        height: min(200px,50%);
        width: min(200px,50%);
        position: absolute;
    }

    form h2{
        color: #3D3DE9;
        text-align: center;
        font-family: "Inter",sans-serif;
        font-weight: 700;
        margin-bottom: 20px;

    }
    
    form .wrap-input{
        background-color: rgba(255,255,255,1);
        border-radius: 20px;
        margin-bottom: 20px;
        box-shadow: 0 10px 20px 0px rgba(57,71,82,0.12);
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    form .wrap-input ion-input{
        --padding-start:10px;
    }

    form .wrap-input i{
        margin-right: 10px;
        margin-left: 20px;
    }
    
    .fa-user{
        color: #3D3DE9;
    } 
    .fa-lock{
        color: white;
    }
    .container-forgot-password{
        font-family: "Inter",sans-serif;
        text-align: right;
        font-weight: 700;

    }
    .container-noAccount{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        column-gap: 2px;

       p{
        margin-bottom: 1px;
        font-family: "Inter",sans-serif;
        color: #8B8B8B;
        font-size: 1.1rem;
       }
       h3{
        font-family: "Inter",sans-serif;
        color: #1862F2;
        font-size: 1.5rem;
       }
    }
    
}