
<ion-grid>
  <ion-row>
    <ion-col>
      <a routerLink="/home" >
        <img class="icon" src="/assets/icon/Home.png">
      
      <p  routerLinkActive="active"  >
        Home
      </p>

      </a>
    </ion-col>
    <ion-col>
      <a routerLink="/my-course" >
        <img class="icon" src="/assets/icon/University.png">

        <p routerLinkActive="active"   >
          Kursus Saya
        </p>
        
      </a>
      
    </ion-col>
    
    <ion-col>
      <a routerLink="/wishlist" >
        <img class="icon" src="/assets/icon/Bookmark.png"  >
      
        <p routerLinkActive="active"  >
          Wishlist
        </p>

      </a>
    </ion-col>

    <ion-col>
      <a routerLink="/account" >
        <img class="icon" src="/assets/icon/User.png"  >
      
        <p routerLinkActive="active"  >
          Akun 
        </p>

      </a>
    </ion-col>


  </ion-row>
</ion-grid>
