.wrap-input{
    background-color: rgba(255,255,255,1);
    border-radius: 20px;
    margin-bottom: 26px;
    box-shadow: 0 10px 20px 0px rgba(57,71,82,0.12);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.wrap-input ion-input{
    --padding-start:0px;
}

.wrap-input i{
    margin-right: 20px;
    margin-left: 20px;
}
.fa-lock{
    color: #3D3DE9;
}
.eyeicon{
    color: #8B8B8B;
    margin-right: 10px;
}
